# This is a basic workflow to help you get started with Actions

name: Release MONAI Deploy Express

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag for the release'
        default: 'mona-deploy-express-v'
        required: true
        type: string

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Read Version
        working-directory: ./deploy/docker-compose
        run: |
          VER=$(cat VERSION)
          echo "VERSION=$VER" >> $GITHUB_ENV

      - name: Archive Release
        uses: TheDoctor0/zip-release@0.6.2
        with:
          type: 'zip'
          path: ./deploy/docker-compose
          filename: "monai-deploy-express-${{ env.VERSION }}.zip"
          exclusions: '*.git'
          
      - name: Create Release
        uses: ncipollo/release-action@v1.10.0
        with:
          name: "MONAI Deploy Express ${{ env.VERSION }}"
          artifacts: "monai-deploy-express-${{ env.VERSION }}.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          tag: ${{ inputs.tag }}
